.primeira{
    background-color: azure;
    font-size: medium;
    font-family: Verdana;
    font-style: oblique;
}

.headerparagrapher{
    font-size: large;
    font-family: 'Courier New';
    font-style: oblique;
}